@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Montserrat";
}

body, h1, h2{
    margin: 0px;
    padding: 0px;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding:20px;
    font-size: 12px;
    color: #919191;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    border: 1px solid #ebebeb;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    box-shadow: 0 1px 20px 0 rgba(0, 0,0,0.1); 
    /*rgba x위치 y위치(약간 위에) 0(어디까지 비추게 할것인가.)   */
}
.name-text{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.about-me-text{
    font-size: 10px;
    line-height: 16px;
}
.title-text{
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    /* text-align: left; */
    float: left;
}
.year-text{
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    /* text-align: right; */ /* 같은줄에 없어서 사용불가 */
    float: right; /* 오류가 생길 수 있음 다른거와 충돌? */
}
h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}
h2 {
    font-size: 20px;
    color: #282828;
    font-weight: lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}
.float-wrap {
    overflow: hidden;
}
.desc-text {
    font-size: 9px;
}
.desc-subtext {
    font-size: 9px;
    color: #282828;
    padding-left: 16px;
}
.title-box{
    text-align: right;
}
.profile-img{
    float: left;
    display: inline;
}
.sns-img{
    width: 12px;
    height: 12px;
}
.sns-wrap {
    text-align: right;
}